*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

.attribution {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

ul {
    font-family: none;
}

.preants {
    background-color: hsl(185, 41%, 84%);
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    padding: 36px;
    flex-direction: column;
}

.navbar {
    display: none;
    height: auto;
    width: 100px;
    background-color: green;
    position: absolute;
    right: 10px;
    top: 30px;
    padding: 2px;
}

.navbar>ul {
    margin: 0;
}

.navbar>ul>li {
    width: 10px;
    height: 10px;
    display: inline-flex;
    padding: 0px;
    background: yellow;
    border-radius: 50%;
    margin: 0px;
}

.child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    width: 80vw;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 52px;
    border-radius: 20px;
    margin: auto;
}

.right {
    background-color: hsl(183, 100%, 15%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 47px;
    padding: 50px;
    border-radius: 15px;
}

.left {
    background-color: transparent;
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;
}

.left label {
    color: hsl(183, 100%, 15%);
    font-weight: 600;
    font-size: 15px;
    opacity: .8;
}

.input-icon {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.input-icon img {
    position: absolute;
    margin: auto;
    width: 11px;
    margin-left: 6px;
    margin-top: 10px;
}

.input-icon input {
    width: 88%;
    padding: 10PX;
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 20px;
    text-align: right;
    padding-right: 10px;
    background-color: hsl(189, 41%, 97%);
}

.bill {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bill>input {
    width: 88%;
    padding: 2px;
    font-size: 20px;
}

.select_div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid_div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 88%;
    gap: 10px;
}

.grid_div>button {
    width: 100%;
    height: auto;
    font-size: 20px;
}

.person_div {
    flex-direction: column;
    /* margin: 6px; */
    gap: 10px;
    display: flex;
}

.person_div>input {
    width: 88%;
    padding: 5px;
    font-size: 20px;
}

.class-btn {
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    padding: 8px;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
}

.amount {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20px;
}

.items {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: auto;
    align-items: center;
}

.right .amount label {
    width: 50%;
    font-size: 15px;
}

.button_1 {
    margin: auto;
    width: 100%;
    margin-bottom: -20px;
}

.button_1>button {
    width: 90%;
    padding: 5px;
}

.logo-header {
    margin: auto;
    margin-bottom: 10px;
}

.items>label {
    font-size: 30px !important;
    color: hsl(172, 67%, 45%);
}

.items>img {
    width: 15px;
    height: 22px;
    margin-right: -5px;
}

.custom-btn {
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    color: hsl(183, 100%, 15%);
    background-color: hsl(189, 41%, 97%);
}

.button_1>button {
    width: 100%;
    border: none;
    background-color: hsl(185, 40%, 45%);
    opacity: .8;
    padding: 6px;
    border-radius: 5px;
}

.active {
    background-color: hsl(172, 67%, 45%);
}

.span-label>span {
    color: red;
    margin: auto;
    margin-right: 0;
}

.span-label {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 88%;
}

.popup-show {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgb(43, 42, 42, 15%);
    margin: auto;
    align-items: center;
    justify-content: center;
}

.popup-show .main-controller {
    width: 300px;
    height: 200px;
    background-color: whitesmoke;
    border-radius: 10px;
    border-top: 40px solid blue;
}

.header-text {
    width: 80px;
    margin: auto;
    margin-top: -34px;
    margin-right: 10px;
    display: flex
}

.header-text button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.header-text button:hover {
    color: red;
}

@media only screen and (max-width: 1410px) {
    .child {
        width: 800px;
    }
}

@media only screen and (max-width: 375px) {
    .preants {
        padding: 0;
    }
    .child {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .grid_div {
        grid-template-columns: repeat(2, 1fr);
        width: 88%;
        gap: 10px;
    }
}